<component name="libraryTable">
  <library name="testng">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/jar_files/jcommander-1.78.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files/jsr305-3.0.1.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files/slf4j-api-1.7.32.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/jar_files/testng-7.5.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>